.catalog {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  column-gap: 48px;
  justify-content: center;
  
  max-width: $catalog-width;
  margin: auto;
  
  &__item {
    margin-bottom: 50px;

  }

}
